@page
@model Keyboards.Pages.KeySwitchs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Keyboard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyboard.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keyboard.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyboard.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keyboard.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyboard.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keyboard.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keyboard.Pressure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keyboard.Pressure)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Keyboard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
